<ion-content>
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img src="assets/logo-bookcash.png"/>
        <h2>Bem-vindo</h2>
        <p>O <b>BookCash</b> um novo aplicativo para seu controle de caixa.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="assets/smartphone.svg"/>
      <h2>O que é o BookCash?</h2>
      <p><b>BookCash</b> é um novo aplicativo em que você controla as entradas e saídas do seu caixa pelo seu celular e poderá automaticamente obter o valor do seu SALDO.</p>
    </ion-slide>

    <ion-slide>
      <img class="linkedin" src="assets/linkedin.svg"/>
      <h2>Siga o criador do App no Linkedin</h2>
      <ion-button fill="clear" class="botaoContinuar" href="https://www.linkedin.com/in/igorcasconioliveira/">Igor Casconi de Oliveira <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

    <ion-slide>
      <img class="linkedin" src="assets/toque.svg"/>
      <h2>Está Pronto para Iniciar?</h2>
      <ion-button fill="clear" class="botaoContinuar" (click)="home();">Continuar <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
