ion-header {
    background-color: #5f8ed0;
}

#voltarButton {
    font-size: 25px;
    margin-left: 10px;
}

#tabs-movimentacao {
    background-color: #5f8ed0;
    ion-tab-button {
        color: black;
        background-color: #5f8ed0;
    }
}

#tituloCaixa {
    text-transform: uppercase;
}