#image-cash2 {
    width: 15%;
}

.formato-data {
    margin-top: -8px;
    font-size: 15px;
    color: gray;
}

#botaoExcluir {
    font-size: 35px;
}

#image-not-Caixa {
    width: 35%;
    
}

#not-caixas {
    margin: auto;
    text-align: center;
}

#aviso-saldo {
    background: #00aa1f;
    text-align: center;
    float: right;
    margin-top: 10px;
    margin-bottom: -10px;
}