ion-header {
    background: #5f8ed0;
}

#botaoAdicionar {
    margin-top: 20px;
}

#voltarButton {
    font-size: 25px;
    margin-left: 10px;
}

#image-cash {
    width: 40%;
    float: left;
}

#input {
    margin-top: 160px;
}

