<ion-header >
  <ion-toolbar color="topo_app">
    <ion-title class="ion-text-center">
      BookCash
    </ion-title>
    <ion-icon name="help-circle-outline" slot="end" id="botaoAbout" (click)="pageAbout()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="caixas.length > 0; else notShowList">
    <ion-list lines="none">
        <ion-item-sliding  *ngFor="let cx of caixas" >
          <ion-item id="lista-caixa" (click)="MovimentacaoCaixa(cx.Caixa_id, cx.Caixa_name)">
            <img src="assets/caixa-reg.svg" id="image-cash">
            <ion-label id="nome-caixa">{{cx.Caixa_name}}</ion-label>
            <ion-label slot="end">Saldo: R$ {{ cx.Caixa_Saldo_value.toFixed(2) }}</ion-label>
          </ion-item>
          <ion-item-options id="lista-icons" side="end">
            <ion-item-option (click)="editCaixa(cx.Caixa_id)"><ion-icon name="create"></ion-icon></ion-item-option>
            <ion-item-option (click)="alertRemoveCaixa(cx)" color="danger"><ion-icon name="trash"></ion-icon></ion-item-option>
          </ion-item-options>
        </ion-item-sliding>     
    </ion-list>
  </div>

  <ng-template #notShowList >
    <div class="ion-padding" id="not-caixas">
      <img src="assets/caixa-reg.svg" id="image-not-Caixa">
      <h2>Livros Caixa</h2>
    </div>
  </ng-template>  


  <ion-fab  vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button color="success" (click)="addCaixa()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
