ion-header {
    background: #5f8ed0;
}

#botaoAdicionar {
    margin-top: 20px;
}

#voltarButton {
    font-size: 25px;
    margin-left: 10px;
}

#entrada-img {
    width: 30%;
    float: left;
}


#input {
    margin-top: 100px;
}